
<section >
  <div class="container align-items-center">
  <div class="logo">Blog <span>O4</span> ... Code Away</div>
  <h6>Welcome back, {{account.username}}</h6>
  </div>

  <div class="container">
            {{#each userEntriesData}}
            {{> userEntries-details}}
            {{/each}}
  </div>


</section>




{{> alert-modal}}


    <script src="/assets/scripts/profile.js"></script>











