
<section class="min-height-85" >
  <div class="container align-items-center">
  <div class="logo">Blog <span>O4</span> ... Write Away</div>
  <h5 class="text-light my-3">Welcome back, {{account.username}}</h5>
  </div>

  <div class="container">
        <div class="card my-2" >
          <h5 class="card-header">A great title goes here.</h5>
          <div class="card-body" >
            <p class="card-text">Your unique content goes here... Write away.</p>
            <p class="text-muted">- {{account.username}}</p>
            <button class="launchEntry" data-toggle="modal" data-target="#entryModal">📜 Add Entry</button>
          </div>
        </div>
    {{#if userEntriesData}}
            {{#each userEntriesData}}
            {{> userEntries-details}}
            {{/each}}
    {{/if}}



  </div>


</section>




{{> alert-modal}}

{{> entry-modal}}


    <script src="/assets/scripts/profile.js"></script>











