
    
    <!-- home section start -->
    <section class="home" id="home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-1">Welcome to</div>
          <div class="logo-2">Blog<span>O4</span></div>
          <div class="text-2">Your Nerdy Tech Hub</div>
          {{!-- <div class="text-2">We are <span class="typing"></span></div> --}}
              {{#if logged_in}}
              {{else}}
                <div>
                  <button id="startBtn" data-toggle="modal" data-target="#signUpModal"><i class="fas fa-pen-fancy"></i> Sign Up</button>
                  <button id="modalBtn" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i></i>Sign In</button>
                </div>  
              {{/if}}
        </div>
      </div>
    </section>



{{> login-modal}}

{{> signup-modal}}

{{> alert-modal}}


    <script src="/assets/scripts/login.js"></script>
    {{#if logged_in}}
    <script src="/assets/scripts/logout.js"></script>
    {{/if}}